body{
    margin: 0;
    font-family: 'Oxygen', sans-serif;
}

.nav-area{
    background-color: #2f3542;
}
.nav{
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:20px;
    color: tomato;
    text-decoration: none;
    font-size: x-large;
}

.flex-container{
    display: flex;
    margin-bottom: 80px;

}

.half-width{
    width: 50%;
    padding-left: 5%;
    margin-right: 20px;
    margin-top: 80px;
}

.half-width img{
    width: 75%;
    
}

.top-header{
    margin-top: 120px;
    font-size: 60px;
    color: #636e72;
}

#top-header-skip{
    color: tomato;
}

.top-header-p{
    font-size: xx-large;
    color: #747d8c;
}

.order-button{
    text-decoration: none;
    padding: 15px;
    font-size: 30px;
    border-radius: 25px;
    color: white;
    background-image: linear-gradient(#e6935b, #ec3f0a); 

}

.contact-button{
    text-decoration: none;
    padding: 15px;
    margin-top: 15px;
    font-size: 30px;
    border-radius: 25px;
    color: white;
    background-image: linear-gradient(#ebb38d, #f37650); 
}

.about{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.about-img{
    display: block;
    max-width: 400px;
    width: auto;
    padding-left: 100px;
}

.about-header{
    font-size: 50px;
    color: #535c68;
}

.about-p{
    font-size: x-large;
    color: #808e9b;
    padding-bottom: 15px;
    padding-right: 30px;
    text-align: justify;
}

.about-div{
    margin-top: 100px;
}

.my-recipies{
    text-align: center;
}

.my-recipies h1{
    font-size: 30px;
    color: #636e72;
}

.my-recipies p{
    font-size: 20px;
    color: #747d8c;
}
.recipies{
    box-shadow: 5px 5px 10px grey;
    width: 50%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 15px;
    border-radius: 14px;
}

.recipies p{
    font-size: large;
}

.recipies img{
    width: 100%;
}

footer{
    background-color: #2f3542;
    text-align: center;
    height: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#footer-header{
    color: tomato;
}

footer p{
    color: white;
}

footer h2{
    color: #84817a;
}

.gallery-area{
    text-align: center;
}
.gallery img{
    width: 100%;
    border-radius: 50%;
    clip-path: circle(50% at 50% 50%);
}

.gallery{
    box-shadow: 5px 5px 10px grey;
    width: 50%;
    padding: 10px;
    border-radius: 15px;
}

.gallery-header{
    text-align: center;
    color: #636e72;
    font-size: x-large;
}